<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rg2_v2">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import rg2_v2 urdf file -->
    <xacro:include filename="$(find onrobot_rg2_v2_description)/urdf/rg2_v2.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="rg2_v2.ros2_control.xacro" />


    <xacro:rg2_v2_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
